<h1>Editing images type</h1>

<%= render "form", images_type: @images_type %>

<br>

<div>
  <%= link_to "Show this images type", @images_type %> |
  <%= link_to "Back to images types", images_types_path %>
</div>
