<h1>Editing tasks type</h1>

<%= render "form", tasks_type: @tasks_type %>

<br>

<div>
  <%= link_to "Show this tasks type", @tasks_type %> |
  <%= link_to "Back to tasks types", tasks_types_path %>
</div>
