<p style="color: green"><%= notice %></p>

<h1>Tasks types</h1>

<div id="tasks_types">
  <% @tasks_types.each do |tasks_type| %>
    <%= render tasks_type %>
    <p>
      <%= link_to "Show this tasks type", tasks_type %>
    </p>
  <% end %>
</div>

<%= link_to "New tasks type", new_tasks_type_path %>
