<div class="container justify-content-md-right llink" id="llink" >
    <%= link_to " Dashboard ", images_path, id: "facebook", class: "fa fa-send fa-1x llink" %>
    &nbsp;
    <%= link_to " Dashboard Admin ", menus_path, id: "facebook", class: "fa fa-send fa-1x llink" %>
    &nbsp;
    <%= link_to " API news", api_index_path, id: "twitter", class: "fa fa-cog fa-spin llink" %>
</div>


