<div id="<%= dom_id products_type %>">
  <p>
    <strong>Name:</strong>
    <%= products_type.name %>
  </p>

  <p>
    <strong>Product type description:</strong>
    <%= products_type.product_type_description %>
  </p>

</div>
