<h1>Editing products type</h1>

<%= render "form", products_type: @products_type %>

<br>

<div>
  <%= link_to "Show this products type", @products_type %> |
  <%= link_to "Back to products types", products_types_path %>
</div>
