<h1>Editing tasks status</h1>

<%= render "form", tasks_status: @tasks_status %>

<br>

<div>
  <%= link_to "Show this tasks status", @tasks_status %> |
  <%= link_to "Back to tasks statuses", tasks_statuses_path %>
</div>
