<h1>Editing plans type</h1>

<%= render "form", plans_type: @plans_type %>

<br>

<div>
  <%= link_to "Show this plans type", @plans_type %> |
  <%= link_to "Back to plans types", plans_types_path %>
</div>
