<h1>Editing users type</h1>

<%= render "form", users_type: @users_type %>

<br>

<div>
  <%= link_to "Show this users type", @users_type %> |
  <%= link_to "Back to users types", users_types_path %>
</div>
