<h1>Editing tasks config</h1>

<%= render "form", tasks_config: @tasks_config %>

<br>

<div>
  <%= link_to "Show this tasks config", @tasks_config %> |
  <%= link_to "Back to tasks configs", tasks_configs_path %>
</div>
