<!-- VACIO -->
<!--

<div id="< % = dom_id image %>"  class="text-white">
  <p>
    <strong>Image type:</strong>
    < % = image.image_type_id %>
  </p>

  <p>
    <strong>Description:</strong>
    < % = image.description %>
  </p>

  <p>
    <strong>Imágen principal:</strong>
    < % = image.file_field :main_picture %>
  </p>

  <p>
    <strong>Imágenes relacionadas:</strong>
    < % = image.file_field :canvas, multiple: true %>
  </p>  


  <p>
    <strong>Input hash:</strong>
    < % = image.input_hash %>
  </p>

  <p>
    <strong>Output hash:</strong>
    < % = image.output_hash %>
  </p>

  <p>
    <strong>Image parent:</strong>
    < % = image.image_parent_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    < % = image.image_url %>
  </p>

  <p>
    <strong>Image local url:</strong>
    < % = image.image_local_url %>
  </p>

  <p>
    <strong>Date input hash:</strong>
    < % = image.date_input_hash %>
  </p>

  <p>
    <strong>Date output hash:</strong>
    < % = image.date_output_hash %>
  </p>

</div>
-->